:root {
  --dark: #24305e; /* #1c1e27 */
  --light: #feffff; /* feffff */
  /* #cfcecf */
  --red: #f76c6c; /* #f76c6c */
  --blue: #51bfff; /* #a8d0e6 #7b95e0 #51bfff */
  --green: #8fbc8f;
  --overlay: rgb(0, 0, 0, 0.2);
  --orange: antiquewhite;
  --background: var(--dark);
  --foreground: var(--light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Comic", sans-serif, Arial, Verdana, "Helvetica",
    "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: var(--foreground);
}

.link {
  color: var(--blue);
  text-decoration: none;
}
.link:hover {
  color: var(--red);
}

/* Loading screen */
#loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--background);
  z-index: 10;
}
#loading-icon {
  width: 100px;
  height: 100px;
  border: solid var(--foreground) 10px;
  border-top-color: transparent;
  border-radius: 100px;
  -webkit-animation: loader 1s linear infinite;
  animation: loader 1s linear infinite;
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* cube flipping styles */
.page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
  overflow: scroll;
  opacity: 0;
}
.left {
  transform: perspective(500px) rotateY(0deg);
  transform-origin: right;
  left: 0px;
  opacity: 1;
}
.left.leave {
  transform: perspective(500px) rotateY(-89deg);
  left: -100%;
  transition: 1s;
}
.right {
  transform: perspective(500px) rotateY(0deg);
  transform-origin: left;
  left: 0px;
  opacity: 1;
}
.right.leave {
  transform: perspective(500px) rotateY(89deg);
  left: 100%;
  transition: 1s;
}
.front-on-left {
  transform: perspective(500px) rotateY(-89deg);
  transform-origin: right;
  left: -100%;
  opacity: 1;
}
.front-on-right {
  transform: perspective(500px) rotateY(89deg);
  transform-origin: left;
  left: 100%;
  opacity: 1;
}
.front-on-left.front,
.front-on-right.front {
  transform: perspective(500px) rotateY(0deg);
  left: 0px;
  transition: 1s;
}

/* .container {
  position: relative;
  width: 100%;
  height: 100vh;
} */

.page-h {
  padding: 0;
  font-size: 30px;
  text-align: center;
}
.card {
  background: var(--foreground);
  color: var(--background);
  margin: 0 0 50px 0;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px var(--foreground);
}

/* ================== Mobile styles =================== */
/* Logo styles */
#logo {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 25px;
  height: 25px;
  color: var(--foreground);
  mix-blend-mode: red;
  border-radius: 5px;
  z-index: 1;
  animation: svg-logo 1.5s;
  animation-fill-mode: forwards;
}

#logo-letters {
  position: absolute;
  top: 15px;
  left: 70px;
  font-size: 24px;
  letter-spacing: 2px;
  color: var(--blue);
  text-decoration: none;
  /* https://fonts.google.com/specimen/Comfortaa?preview.text=Kawara&preview.text_type=custom */
  font-family: "Quicksand", sans-serif;
  z-index: 1;
  animation: logo-letters 1.5s;
  animation-fill-mode: forwards;
}

/* Navigation bar styles */
#nav-bar {
  display: none;
}

#menu-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}
#menu-icon:hover {
  cursor: pointer;
}
.m-icon:hover .bar1 {
  margin: 4px 0;
}
.m-icon:hover .bar2,
.bar3 {
  margin: 7px 0;
}
.x-icon:hover .bar1 {
  transform: rotate(-52deg) translate(-6px, 7px);
}
.x-icon:hover .bar3 {
  transform: rotate(52deg) translate(-5px, -6px);
}
.bar1,
.bar2,
.bar3 {
  position: relative;
  background: var(--blue);
  width: 35px;
  height: 4px;
  margin: 5px 0;
  border-radius: 2px;
  transition: 0.3s ease;
}
.x-icon .bar1 {
  transform: rotate(-45deg) translate(-6px, 7px);
}
.x-icon .bar2 {
  opacity: 0;
}
.x-icon .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#drop-menu {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}
#drop-list {
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: 0.7s ease;
}
.list-links {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin: 0;
  padding: 12px;
  font-size: 18px;
  text-align: center;
  background: var(--blue);
  color: aliceblue;
  transition: 0.2s ease;
}
@keyframes margin-max {
  0% {
    margin: 0;
  }
  100% {
    margin: 6px 0;
  }
}
@keyframes margin-min {
  0% {
    margin: 6px 0;
  }
  100% {
    margin: 0;
  }
}
.list-links:hover {
  box-shadow: 0 0 0px 6px var(--background) inset;
}

/* ================== Tablet styles =================== */
@media only screen and (min-width: 640px) {
  /* Logo styles */
  #logo {
    left: 80px;
  }
  #logo-letters {
    left: 115px;
  }
}
/* ================== Desktop styles =================== */
@media only screen and (min-width: 1024px) {
  /* Logo styles */
  #logo {
    left: 150px;
  }
  #logo-letters {
    left: 185px;
  }

  /* Navigation bar styles */
  #drop-menu {
    display: none;
  }
  #nav-bar {
    display: block;
    position: absolute;
    top: 15px;
    right: 10%;
    padding: 0;
    z-index: 1;
  }
  .nav-links {
    position: relative;
    display: inline-block;
    top: 0;
    margin: 0 2px;
    padding: 5px 8px;
    font-size: 18px;
    text-decoration: none;
    background: var(--background);
    color: var(--foreground);
    box-shadow: 0 0 0 2px #59bd7f;
    border-radius: 30px;
    transition: 0.1s ease;
  }
  .nav-links:hover {
    background: var(--foreground);
    box-shadow: none;
    color: var(--background);
  }
  @keyframes nav-links-anim {
    0% {
      top: 0;
      transform: rotate(0deg);
    }
    10% {
      top: -60px;
      transform: rotate(-30deg);
    }
    50% {
      top: -60px;
      transform: rotate(30deg);
    }
    100% {
      top: 0px;
      transform: rotate(0deg);
    }
  }
}
