:root {
  --dark: #24305e; /* #1c1e27 */
  --light: #feffff; /* feffff */
  /* #cfcecf */
  --red: #f76c6c; /* #f76c6c */
  --blue: #51bfff; /* #a8d0e6 #7b95e0 #51bfff */
  --green: #8fbc8f;
  --blur: rgb(0, 0, 0, 0.2);
  --orange: antiquewhite;
  --background: var(--dark);
  --foreground: var(--light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Comic", sans-serif, Arial, Verdana, "Helvetica",
    "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: var(--foreground);
}

.link {
  color: var(--blue);
  text-decoration: none;
}
.link:hover {
  color: var(--red);
}

/* Loading screen */
#loading-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--blur);
}
#loading-icon {
  width: 100px;
  height: 100px;
  border: solid var(--foreground) 10px;
  border-top-color: transparent;
  border-radius: 100px;
  -webkit-animation: loader 1s linear infinite;
  animation: loader 1s linear infinite;
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

video {
  top: 0;
  left: 0;
  right: 0;
  border: none;
}

/* Pages cube styles */
#pages-container {
  width: 100%;
}
#cube {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  height: 100vh;
}
.pages {
  position: absolute;
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
}
.containers {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.page-h {
  padding: 0;
  font-size: 30px;
  text-align: center;
}
#about,
#projects,
#contact {
  display: none;
}
#intro {
  text-align: center;
}
#contact {
  background: var(--foreground);
  color: var(--background);
}
.card {
  background: var(--foreground);
  color: var(--background);
  margin: 0 0 50px 0;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px var(--foreground);
}

/* ================== Mobile styles =================== */
/* Logo styles */
#logo {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 25px;
  height: 25px;
  color: var(--foreground);
  mix-blend-mode: red;
  border-radius: 5px;
  z-index: 1;
  animation: svg-logo 1.5s;
  animation-fill-mode: forwards;
}
@keyframes svg-logo {
  0% {
    left: -15%;
    top: 50%;
    transform: rotate(-360deg);
  }
  50% {
    left: 39%;
    top: 50%;
    transform: rotate(0deg);
  }
  75% {
    left: 39%;
    top: 50%;
  }
  100% {
    margin: auto;
  }
}
#logo-letters {
  position: absolute;
  top: 15px;
  left: 70px;
  font-size: 24px;
  letter-spacing: 2px;
  color: var(--blue);
  text-decoration: none;
  /* https://fonts.google.com/specimen/Comfortaa?preview.text=Kawara&preview.text_type=custom */
  font-family: "Quicksand", sans-serif;
  z-index: 1;
  animation: logo-letters 1.5s;
  animation-fill-mode: forwards;
}
@keyframes logo-letters {
  0% {
    left: -300%;
    top: 90%;
    letter-spacing: 1500px;
    font-size: 500px;
  }
  50% {
    left: 47%;
    top: 50%;
    letter-spacing: 2px;
    font-size: 18px;
  }
  75% {
    left: 47%;
    top: 50%;
  }
  100% {
    margin: auto;
  }
}

/* Navigation bar styles */
#nav-bar {
  display: none;
}

#menu-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}
#menu-icon:hover {
  cursor: pointer;
}
.m-icon:hover .bar1 {
  margin: 4px 0;
}
.m-icon:hover .bar2,
.bar3 {
  margin: 7px 0;
}
.x-icon:hover .bar1 {
  transform: rotate(-52deg) translate(-6px, 7px);
}
.x-icon:hover .bar3 {
  transform: rotate(52deg) translate(-5px, -6px);
}
.bar1,
.bar2,
.bar3 {
  position: relative;
  background: var(--blue);
  width: 35px;
  height: 4px;
  margin: 5px 0;
  border-radius: 2px;
  transition: 0.3s ease;
}
.x-icon .bar1 {
  transform: rotate(-45deg) translate(-6px, 7px);
}
.x-icon .bar2 {
  opacity: 0;
}
.x-icon .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#drop-menu {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}
#drop-list {
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: 0.7s ease;
}
.list-links {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin: 0;
  padding: 12px;
  font-size: 18px;
  text-align: center;
  background: var(--blue);
  color: aliceblue;
  transition: 0.2s ease;
}
@keyframes margin-max {
  0% {
    margin: 0;
  }
  100% {
    margin: 6px 0;
  }
}
@keyframes margin-min {
  0% {
    margin: 6px 0;
  }
  100% {
    margin: 0;
  }
}
.list-links:hover {
  box-shadow: 0 0 0px 6px var(--background) inset;
}

/* Intro styles */
#intro-hello {
  position: absolute;
  z-index: 1;
  top: -25vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  font-size: 30px;
  text-align: center;
  animation: hello 0.3s ease 1.6s forwards;
}
@keyframes hello {
  0% {
    top: -10vh;
  }
  40% {
    top: 15vh;
  }
  80% {
    top: 10vh;
  }
  100% {
    top: 20vh;
  }
}
#hello-emoji {
  transform-origin: bottom;
  animation: waving 1s ease 2s;
}
@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#introduction {
  position: relative;
  margin: auto;
  margin-top: 30vh;
  max-width: 1000px;
  padding: 0 20px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

/* Social Media styles */
#social-media-wrapper {
  position: absolute;
  left: 5%;
  bottom: 20px;
  padding: 0;
  z-index: 1;
}
#social-media-wrapper > a[target="_blank"] {
  overflow: hidden;
  display: inline-block;
  position: relative;
  left: 0;
  bottom: -60px;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  transition: 0.2s ease;
}
#social-media-wrapper > .l {
  animation: social-anim 0.5s ease 1s forwards;
}
#social-media-wrapper > .f {
  line-height: 32px;
  animation: social-anim 0.5s ease 2s forwards;
}
#social-media-wrapper > .g {
  animation: social-anim 0.5s ease 1.5s forwards;
}
#social-media-wrapper > a:hover {
  transform: scale(1.3);
}
.social-media {
  width: 100%;
  height: 100%;
  padding: 5px;
  background: var(--foreground);
  border-radius: 2px;
}
@keyframes social-anim {
  0% {
    bottom: -60px;
  }
  100% {
    bottom: 60px;
  }
}

/* About styles */
#about-us {
  width: 100%;
  margin: 11vh 0 0 0;
  padding: 20px 5%;
  text-align: center;
  border-radius: 0px;
  box-shadow: none;
}
#about-us > .page-h {
  margin: 20px 0 15px 0;
}
#about-us > p {
  max-width: 1000px;
  margin: auto;
  font-size: 18px;
  line-height: 26px;
}
#work-priorities {
  display: flex;
  flex-flow: wrap;
  margin: 0;
  padding: 30px 10px 40px 10px;
  border-bottom: 1px solid var(--foreground);
}
.priority {
  flex: 100%;
  padding: 10px 10px 30px 10px;
  text-align: center;
}
.priorities.page-h {
  margin: 40px 0 15px 0;
}
.priority > img {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  padding: 0;
  border-radius: 50%;
}
.priority > h3 {
  margin: 15px 0 20px 0;
  font-size: 22px;
}
.priority > .card {
  margin: 0;
  padding: 15px;
  font-size: 20px;
  line-height: 25px;
}
#skills {
  padding: 40px 20px;
}
#skills > .page-h {
  margin: 0 0 40px 0;
}
#skills > h2 {
  padding: 0;
  margin: 50px 0 15px 10px;
  font-size: 20px;
  font-weight: normal;
}
#skills > .card {
  display: flex;
  flex-flow: wrap;
}
.skill {
  flex: 5;
  text-align: center;
  margin: 10px;
  padding: 0;
  font-size: 14px;
}
.skill > img {
  display: block;
  width: 40px;
  height: 40px;
  margin: 15px auto;
  color: var(--background);
}

/* Projects styles */
#projects .page-h {
  margin: 20vh 0 50px 0;
}
#projects-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
  margin-bottom: 80px;
  padding: 0 1%;
}
#projects-container .project {
  position: relative;
  flex: 30%;
  max-width: 80%;
  aspect-ratio: 1 / 1;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background: var(--foreground);
  color: var(--background);
  border-radius: 10px;
}
.project > img {
  width: 100%;
}
.project > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 1;
  text-decoration: none;
  transition: 0.3s;
}
.project > div > span {
  padding: 10px 25px;
  font-size: 18px;
  background: var(--background);
  color: var(--foreground);
  border-radius: 5px;
}
.project > div:hover {
  opacity: 1;
}

/* Contact styles */
#contact .page-h {
  color: var(--background);
  margin: 20vh 0 0 0;
}
#contact-form {
  margin: 80px 20px;
  max-width: 600px;
}
.form-field,
.form-select {
  position: relative;
  width: 100%;
  margin: 50px 0;
}
.form-field > label {
  position: absolute;
  top: 8px;
  left: 3px;
  font-size: 18px;
  z-index: -1;
  transition: all 0.4s;
}
.form-field > input {
  display: block;
  background: none;
  border: none;
  border-bottom: 1px solid var(--background);
  width: 100%;
  margin: 0;
  font-size: 18px;
  padding: 5px;
}
.form-select > label {
  display: block;
  width: 100%;
  margin: 0 0 10px 5px;
  font-size: 18px;
}
#subject {
  background: none;
  border: none;
  border-bottom: 1px solid var(--background);
  width: 100%;
  margin: 0;
  font-size: 16px;
  padding: 5px;
}
.form-range {
  margin: 30px 0 0 0;
}
.form-range > label {
  display: block;
  width: 100%;
  margin: 0 0 10px 5px;
  font-size: 16px;
}
.range {
  display: flex;
  width: 100%;
}
#budget,
#deadline {
  flex: 7;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  height: 1px;
  background: var(--background);
  margin: 10px 0 0 0;
  opacity: 0.6;
}
#budget::-webkit-slider-thumb,
#deadline::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  background: var(--background);
  border-radius: 100%;
}
#budget::-moz-range-thumb,
#deadline::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  background: var(--background);
  border-radius: 100%;
}
#budget:hover,
#deadline:hover {
  height: 1.5px;
  opacity: 1;
}
#budget-result-holder,
#deadline-result-holder {
  flex: 3;
  margin: 0 0 10px 15px;
}
.form-textarea {
  position: relative;
  width: 100%;
  margin: 40px 0;
}
.form-textarea > label {
  position: absolute;
  bottom: 0;
  top: 8px;
  left: 3px;
  font-size: 18px;
  transition: all 0.4s;
}
#message {
  display: block;
  width: 100%;
  height: 150px;
  background: none;
  resize: none;
  border: none;
  border-bottom: 1px solid var(--background);
  font-size: 18px;
  padding: 5px;
}
input[type="text"]:hover,
input[type="text"]:focus,
#subject:hover,
#subject:focus,
#message:hover,
#message:focus {
  border-bottom: 1.5px solid var(--background);
}
input[type="text"]:focus,
input[type="range"]:focus,
#subject:focus,
#message:focus {
  outline: none;
}
input[type="text"]:focus + label,
input[type="text"]:valid + label {
  top: -20px;
  font-size: 16px;
  left: 5px;
}
#message:focus + label,
#message:valid + label {
  top: -20px;
  font-size: 16px;
  left: 5px;
}
.form-submit {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
  border: none;
  background: var(--background);
  color: var(--foreground);
  font-size: 20px;
  transition: 0.2s ease;
  border-radius: 5px;
  transition: 0.2s ease;
}
.form-submit:hover {
  box-shadow: 0 0 0px 4px var(--green) inset;
}

/* Submit response styles */
#response:empty {
  display: none;
}
#response {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--foreground);
  text-align: center;
  color: var(--green);
  padding-top: 30vh;
  font-size: 22px;
  font-weight: normal;
}

/* ================== Tablet styles =================== */
@media only screen and (min-width: 640px) {
  /* Logo styles */
  #logo {
    left: 80px;
  }
  #logo-letters {
    left: 115px;
  }
  @keyframes logo-letters {
    0% {
      left: -300%;
      top: 90%;
      letter-spacing: 1500px;
      font-size: 500px;
    }
    50% {
      left: 46%;
      top: 50%;
      letter-spacing: 3px;
      font-size: 24px;
    }
    75% {
      left: 45%;
      top: 50%;
    }
    100% {
      left: 115px;
    }
  }

  /* Intro styles */
  #introduction {
    padding: 0 30px;
    font-size: 22px;
  }
  #social-media-wrapper > a[target="_blank"] {
    width: 40px;
    height: 40px;
  }

  /* About styles */
  #about-us {
    padding: 30px 10%;
  }
  #about-us > p {
    line-height: 28px;
  }

  /* Projects styles */
  #projects-container .project {
    max-width: 50%;
  }
  .priority {
    flex: 50%;
  }
  #budget-result-holder,
  #deadline-result-holder {
    flex: 2;
  }
}
/* ================== Desktop styles =================== */
@media only screen and (min-width: 1024px) {
  /* Logo styles */
  #logo {
    left: 150px;
  }
  @keyframes svg-logo {
    0% {
      left: -15%;
      top: 50%;
      transform: rotate(-360deg);
    }
    50% {
      left: 40%;
      top: 50%;
      transform: rotate(0deg);
    }
    75% {
      left: 40%;
      top: 50%;
    }
    100% {
      left: 150px;
    }
  }
  #logo-letters {
    left: 185px;
  }
  @keyframes logo-letters {
    0% {
      left: -300%;
      top: 90%;
      letter-spacing: 1500px;
      font-size: 500px;
    }
    50% {
      left: 43%;
      top: 50%;
      letter-spacing: 4px;
      font-size: 25px;
    }
    75% {
      left: 43%;
      top: 50%;
    }
    100% {
      left: 185px;
    }
  }

  /* Navigation bar styles */
  #drop-menu {
    display: none;
  }
  #nav-bar {
    display: block;
    position: absolute;
    top: 15px;
    right: 10%;
    padding: 0;
    z-index: 1;
  }
  .nav-links {
    position: relative;
    display: inline-block;
    top: 0;
    margin: 0 2px;
    padding: 5px 8px;
    font-size: 18px;
    text-decoration: none;
    background: var(--background);
    color: var(--foreground);
    box-shadow: 0 0 0 2px #59bd7f;
    border-radius: 30px;
    transition: 0.1s ease;
  }
  .nav-links:hover {
    background: var(--foreground);
    box-shadow: none;
    color: var(--background);
  }
  @keyframes nav-links-anim {
    0% {
      top: 0;
      transform: rotate(0deg);
    }
    10% {
      top: -60px;
      transform: rotate(-30deg);
    }
    50% {
      top: -60px;
      transform: rotate(30deg);
    }
    100% {
      top: 0px;
      transform: rotate(0deg);
    }
  }

  /* Intro styles */
  #intro-hello {
    font-size: 40px;
  }
  @keyframes hello {
    0% {
      top: -10vh;
    }
    40% {
      top: 25vh;
    }
    80% {
      top: 20vh;
    }
    100% {
      top: 30vh;
    }
  }
  #introduction {
    margin-top: 40vh;
  }
  /* Social Media styles */
  #social-media-wrapper {
    position: absolute;
    bottom: 15vh;
    left: -100px;
    padding: 0;
    z-index: 1;
  }
  #social-media-wrapper > a[target="_blank"] {
    overflow: hidden;
    display: block;
    position: relative;
    left: 15px;
    width: 100px;
    height: 50px;
    margin: 5px 0;
    padding: 0;
    text-align: right;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.2s ease;
  }
  #social-media-wrapper > a[target="_blank"]:hover {
    left: 50px;
  }
  .social-media {
    width: 50px;
    height: 50px;
    padding: 8px;
    background: white;
    border-radius: 2px;
  }

  /* About styles */
  #about-us {
    padding: 50px 0;
  }
  #about-us > .page-h {
    margin-top: 20px;
    font-size: 40px;
  }
  #about-us > p {
    font-size: 23px;
    line-height: 37px;
  }
  .priority {
    flex: 25%;
  }

  /* Projects styles */
  #projects-container .project {
    flex: 30%;
    max-width: 30%;
  }

  /* Contact styles */
  #contact-form {
    margin: 80px auto;
  }
  .form-field,
  .form-select {
    margin: 80px 0;
  }
  .form-field > label {
    top: 0;
    font-size: 20px;
  }
  .form-field > input {
    font-size: 20px;
  }
  .form-select > label {
    font-size: 20px;
  }
  .form-range {
    margin: 40px 0 0 0;
  }
  #budget,
  #deadline {
    flex: 8;
  }
  #subject {
    font-size: 20px;
  }
  .form-range {
    margin: 20px 0 0 0;
  }
  .form-range > label {
    font-size: 20px;
  }
  .form-textarea {
    margin: 50px 0;
  }
  .form-textarea > label {
    top: 0;
    font-size: 20px;
  }
  #message {
    height: 170px;
    font-size: 20px;
  }
  input[type="text"]:focus + label,
  input[type="text"]:valid + label {
    top: -25px;
  }
  #message:focus + label,
  #message:valid + label {
    top: -25px;
  }
  .form-submit {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
  }
}
