@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #334155; /* rgb(51, 65, 85) */
  /* --background-start: rgb( 214, 219, 220); */
  --background-end: #fafafa; /* #fafafa */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #d1d5db; /* #d1d5db rgb(209, 213, 219) */
    /* --background-start: #000000; /* rgb(0, 0, 0) */
    --background-end: #000000; /* rgb(0, 0, 0) */
  }
}

body {
  /* background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background-start); */
  background: var(--background-end);
  color: var(--foreground);
}

/* Hide scrollbar */
.no-srl-bar::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari and Opera */
}
.no-srl-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
a {
  cursor: inherit;
}

a.hvr {
  display: inline-block;
  position: relative;
}
a.hvr:after {
  display: block;
  content: "";
  border-bottom: solid 2px;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}
a.hvr:hover:after,
a.hvr:active:after,
a.active:after {
  transform: scaleX(1);
}

.page-open {
  animation: animate-page-open 0.4s ease;
}
@keyframes animate-page-open {
  0% {
    transform: scale(0.1, 0.002);
  }
  50% {
    transform: scale(1, 0.002);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes animate-page-open {
  0% {
    -webkit-transform: scale(0.1, 0.002);
  }
  50% {
    -webkit-transform: scale(1, 0.002);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}

.page-shut {
  animation: animate-page-shut 0.4s ease forwards;
}
@keyframes animate-page-shut {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.002);
  }
  100% {
    transform: scale(0.1, 0.002);
  }
}
@-webkit-keyframes animate-page-shut {
  0% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.002);
  }
  100% {
    -webkit-transform: scale(0.1, 0.002);
  }
}

/* When the element is out of view */
.lazy.off-view {
  opacity: 0;
  transform: translate(0, 50px);
}

/* Good for bar loading animation: transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1); */
/* Todo: make animation compatible with all browsers using -webkit- and -moz- */
.lazy-c {
  animation: lazy-c 0.4s ease-in 0.1s reverse backwards;
}
.lazy-b {
  animation: lazy-b 0.4s ease-in 0.1s reverse backwards;
}
.lazy-r {
  /* transform-origin: top right; */
  animation: lazy-r 0.4s ease-in 0.1s reverse backwards;
}
.lazy-l {
  transform-origin: top left;
  animation: lazy-l 0.4s ease-in 0.1s reverse backwards;
}

@keyframes lazy-c {
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes lazy-b {
  100% {
    opacity: 0;
    transform: translate(0, 50px);
  }
}
@keyframes lazy-r {
  100% {
    opacity: 0;
    transform: translate(20px, 30px);
  }
}
@keyframes lazy-l {
  100% {
    opacity: 0;
    transform: translate(-20px, 30px);
  }
}

/* Custom Styles */
