@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #334155; /* rgb(51, 65, 85) */
  /* --background-start: rgb( 214, 219, 220); */
  --background-end: #fafafa; /* #fafafa */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #d1d5db; /* #d1d5db rgb(209, 213, 219) */
    /* --background-start: #000000; /* rgb(0, 0, 0) */
    --background-end: #000000; /* rgb(0, 0, 0) */
  }
}

body {
  /* background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background-start); */
  background: var(--background-end);
  color: var(--foreground);
}
