@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #334155; /* rgb(51, 65, 85) */
  /* --background-start: rgb( 214, 219, 220); */
  --background-end: #fafafa; /* #fafafa */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #d1d5db; /* #d1d5db rgb(209, 213, 219) */
    /* --background-start: #000000; /* rgb(0, 0, 0) */
    --background-end: #000000; /* rgb(0, 0, 0) */
  }
}

body {
  /* background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background-start); */
  background: var(--background-end);
  color: var(--foreground);
}

/* Prevent usr from selecting text */
.no-select {
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -o-user-select: none; /* Opera */
}
/* Hide scrollbar */
.no-srl-bar::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari and Opera */
}
.no-srl-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
a {
  cursor: inherit;
}
a.hvr:after {
  display: block;
  content: "";
  border-bottom: solid 2px;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}
a.hvr:hover:after {
  transform: scaleX(1);
}
a.hvr:active:after {
  transform: scaleX(1);
}

.page-open {
  animation: animate-page-open 0.4s ease;
}
@keyframes animate-page-open {
  0% {
    transform: scale(0.1, 0.002);
  }
  50% {
    transform: scale(1, 0.002);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes animate-page-open {
  0% {
    -webkit-transform: scale(0.1, 0.002);
  }
  50% {
    -webkit-transform: scale(1, 0.002);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}

.page-shut {
  animation: animate-page-shut 0.4s ease forwards;
}
@keyframes animate-page-shut {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.002);
  }
  100% {
    transform: scale(0.1, 0.002);
  }
}
@-webkit-keyframes animate-page-shut {
  0% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.002);
  }
  100% {
    -webkit-transform: scale(0.1, 0.002);
  }
}

/* Home page */
#hi {
  transform: translate(0, -20vh);
  animation: animate-fall 0.5s ease-in 0.5s forwards;
}
@keyframes animate-fall {
  0% {
    transform: translate(0, -20vh);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, -50px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes animate-fall {
  0% {
    -webkit-transform: translate(0, -20vh);
  }
  50% {
    -webkit-transform: translate(0, 0);
  }
  75% {
    -webkit-transform: translate(0, -50px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

#hi-emoji {
  transform-origin: 40% 100%;
  transform: scale(0.1);
  animation: waving 1s ease 0.5s forwards;
}

@keyframes waving {
  0% {
    transform: scale(0.1);
  }
  40% {
    transform: scale(1);
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-45deg);
  }
  80% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes waving {
  0% {
    -webkit-transform: scale(0.1);
  }
  40% {
    -webkit-transform: scale(1);
    -webkit-transform: rotate(0deg);
  }
  60% {
    -webkit-transform: rotate(-45deg);
  }
  80% {
    -webkit-transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
